$dark:      #2c3e50;
$darker:    #233140;
$highlight: #18BC9C;
$black:     #333;

@import 'normalize';
@import 'overlay';

$base-font-family: 'Open Sans', sans-serif;

body {
  font-family: $base-font-family;
  color: $black;
}

@mixin buttonize($background-color) {
  display: inline-block;
  border-radius: 7px;
  color: white;
  background-color: $background-color;
  text-decoration: none;
  font-weight: bold;
  outline: none;
  border: none;

  text-align: center;
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
  box-sizing: border-box;

  &:active {
    background-color: darken($background-color, 5%);
  }
  &:hover {
    cursor: pointer;
  }
  &:disabled {
    background-color: #bebebe;
  }
}

.change-name-button {
  margin-top: 5px;
  margin-left: 4px;
  @include buttonize($highlight);
}

.avatar {
  color: white;
  text-align: center;
  height: 35px;
  width: 35px;
  line-height: 35px;
  padding-top: 2px;
  box-sizing: border-box;
}

ul.chat-nav li {
  list-style-type: none;
  overflow: hidden;
  line-height: 35px;
  padding: 5px;

  .avatar {
    float: left;
    margin-right: 5px;
  }

  > a {
    display: block;
    text-decoration: none;
    color: $black;
    height: 100%;
  }

  &.selected > a {
    background-color: $dark;
    color: white;
  }
}

header {
  background-color: $dark;
  padding: 20px;

  .logo, .tag-line {
    display: block;
  }

  .logo {
    font-size: 125%;
    color: white;
    padding-bottom: 4px;
    text-decoration: none;
  }
  .tag-line {
    color: #969696;
    font-size: 75%;
  }
}

.chat-room {

  .timestamp {
    font-size: 75%;
  }
}

.message-composer {
  input[type=submit] {
    @include buttonize(#D8D8D8);
    height: 20px;
    line-height: 20px;
  }
}

.channel-header {
  background-color: #D8D8D8;
  color: $black;
  overflow: hidden;
  padding: 9.5px 0;
  border-bottom: 1px solid #ccc;

  > div:first-child {
    padding: 0 20px;
  }

  .chatting-with {
    font-size: 75%;
    display: block;
  }
  .channel-name {
    font-weight: bold;
    display: block;
  }
  .channel-description {
    display: block;
  }
  .channel-location {
    display: block;
    font-size: 75%;
  }
}

.box-picker {
  overflow: hidden;

  > a {
    float: left;
    display: block;
    width: 35px;
    height: 35px;
    box-sizing: border-box;
    margin: 2px;

    color: black;
    text-decoration: none;
    text-align: center;

    &.selected {
      border: 2px solid $black;
    }
  }
}

.icon-picker > a {
  border: 1px solid #eee;
  padding: 1px;

  &.selected {
    padding: 0px;
  }
}

.identity-selector {
  input[type=text] {
    box-sizing: border-box;
    height: 35px;
    width: 355px;
    font-size: 125%;
  }

  input[type=text], .picker-wrapper {
    margin-bottom: 10px;
  }

  label {
    display: block;
    font-weight: bold;
  }

  .picker-wrapper {
    overflow: hidden;

    .avatar {
      margin-top: 2px;
    }
    .options {
      margin-left: 20px;
    }
    .avatar, .options {
      float: left
    }
  }

  .actions {
    text-align: right;

    input[type=submit] {
      margin-left: 10px;
      @include buttonize($highlight);
    }
  }
}
