$dark:      #2c3e50;
$darker:    #233140;
$highlight: #18BC9C;
$black:     #333;

body {
  font-family: 'Open Sans', sans-serif;
  color: $black;
}

ul.chat-nav li {
  list-style-type: none;
  height: 25px;
  line-height: 25px;

  i {
    color: $highlight;
    width: 25px;
    display: inline-block;
    text-align: center;
  }

  > a {
    display: block;
    text-decoration: none;
    color: $black;
    height: 100%;
  }

  &.selected > a {
    background-color: $dark;
    color: white;
  }
}

header {
  background-color: $dark;
  padding: 20px;

  .logo, .tag-line {
    display: block;
  }

  .logo {
    color: white;
    padding-bottom: 4px;
    text-decoration: none;
  }
  .tag-line {
    color: #969696;
    font-size: 75%;
  }
}

.chat-room {
  position: fixed;
  top: 125px;
  bottom: 0;
  left: 0;
  right: 0;
}

.channel-header {
  background-color: #D8D8D8;
  color: $black;
  overflow: hidden;
  padding: 9.5px 0;
  border-bottom: 1px solid #ccc;

  > div:first-child {
    padding: 0 20px;
  }

  .chatting-with {
    font-size: 75%;
    display: block;
  }
  .channel-name {
    font-weight: bold;
    display: block;
  }
  .channel-description {
    display: block;
  }
  .channel-location {
    display: block;
    font-size: 75%;
  }
}