$dark:      #2c3e50;
$darker:    #233140;
$highlight: #18BC9C;
$black:     #333;

body {
  font-family: 'Open Sans', sans-serif;
  color: $black;
}

ul.chat-nav li {
  list-style-type: none;
  height: 25px;
  line-height: 25px;

  i {
    color: $highlight;
    width: 25px;
    display: inline-block;
    text-align: center;
  }

  > a {
    display: block;
    text-decoration: none;
    color: $black;
    height: 100%;
  }

  &.selected > a {
    background-color: $dark;
    color: white;
  }
}

header {
  background-color: $dark;
  color: white;
  height: 50px;
  line-height: 50px;

  .logo {
    display: inline-block;
    width: 229px;
    text-align: center;
  }
}

.chat-room {
  position: fixed;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
}

.channel-header {
  height: 75px;
  line-height: 25px;
  background-color: #eee;
  padding: 10px 15px;

  .channel-name {
    display: block;
    font-weight: bold;
  }
  .channel-description {
    display: block;
  }
}